.container {
    position: absolute;
    bottom: 250px;
}

/* Mobile styles */
@media (max-width: 768px) {
    .container {
        width: 90%; /* Occupy almost the full width on mobile devices */
        max-width: 300px;
        bottom: 200px;
    }
}

/* Desktop styles */
@media (min-width: 769px) {
    .container {
        min-width: 300px;
        width: 400px;
    }
}

.envelop {
    position: absolute;

}

.back {
    top: -7px;
    z-index: 1;
}

.letterholder {
    display: flex;
    justify-content: center;
    bottom: 20px;
    position: relative;
    margin: auto;
    z-index: 2;
    width: 90%;
    transform: scaleY(0) ;
}


.front {
    position: absolute;
    z-index: 9;
}

.frontflap {
    position: absolute;
    top: -10px;
    z-index: 10;
}


