
.lettercontent {
    width: 100%;
    min-height: 20vh;
    max-height: fit-content;
    height: -moz-calc(100vh - 7rem);
    height: -webkit-calc(100vh - 7rem);
    height: calc(100vh - 7rem);
    overflow: scroll;
    border-radius: 20px;
    border: 5px solid var(--letterBorderColor);
    background-image: url("/parchment_small.png");
    background-size: cover;
    position: absolute;
    bottom: -18rem;
    scrollbar-width: none;
}
@media (max-width: 768px){
    .lettercontent {
        height: -moz-calc(100vh - 15rem);
        height: -webkit-calc(100vh - 15rem);
        height: calc(100vh - 15rem);
    }
}

.form{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;

    padding: 20px;

}
/*

.form input{
    padding: 20px;
    background-color: var(--bg);
    color: var(--textColor);
    border: none;
    border-radius: 5px;
}
.form input:focus-visible {
    outline-width: 0;
    background-color: var(--bgFocused);
}

.form button{
    padding: 20px;
    cursor: pointer;
    background-color: var(--btn);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}*/
