.inputGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.input{
    width: 100%;
    padding: 15px;
    background-color: var(--formBgColor);
    color: var(--formTextColor);
    border: none;
    border-radius: 5px;
    cursor: text;
}

.input:focus-visible {
    outline-width: 0;
    background-color: var(--formBgFocused);
    color: var(--formTextColorFocused)
}

.label {
    color: var(--formLabelColor);
}

